{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container">
    <div class="post-card">
        <h2 class="post-title">
            {{ post.title }}
        </h2>

        <p class="post-user">
            {{ post.user.username }}
        </p>

        <div class="post-content">
            {{ post.content }}
        </div>
        <a href="#" class="like-btn" data-id="{{object.pk}}">
            <i class="{% if request.user in object.like.all %}fas{% else %}far{% endif %} fa-heart"></i>
        </a>
        <span id="like-count">{{object.like.count}}</span>

        {% if object.user != request.user %}
        <button class="follow-btn" data-id="{{object.user.pk}}">
            {% if object.user.id in following_users %}
            フォロー解除
            {% else %}
            フォロー
            {% endif %}
        </button>
        {% endif %}

        {% if object.user == request.user %}
        <a href="{% url 'update' object.pk %}" class="btn btn-primary ms-3" tabindex="-1" role="button"
            aria-disabled="true">編集</a>
        <a href="{% url 'delete' object.pk %}" class="btn btn-danger ms-3" tabindex="-1" role="button"
            aria-disabled="true">削除</a>
        {% endif %}
    </div>

    <h4>コメント投稿</h4>

    <form method="POST" action="{% url 'comment' object.pk %}">
        {% csrf_token %}
        <textarea name="content" class="form-control" rows="3" required>
    </textarea>

        <button class="btn btn-primary mt-2" type="submit">
            コメントする
        </button>
    </form>
    <hr>

    <h4>
        コメント
        ({{ object.comments.count }})
    </h4>

    {% for comment in object.comments.all %}

    <div class="post-card">

        <strong>
            {{ comment.user.username }}
        </strong>

        <small>
            {{ comment.created_at }}
        </small>

        <p>
            {{ comment.content }}
        </p>

    </div>

    {% empty %}

    <p>
        まだコメントはありません
    </p>

    {% endfor %}
</div>

{% endblock content %}