{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container mt-3">
    {% for item in object_list %}
    <div class="post-card">
        <h4 class="post-title">
            <a href="{% url 'detail' item.pk %}">
                {{item.title}}
            </a>
        </h4>
        <p class="post-user">
            <a href="{% url 'user_posts' item.user.pk %}">
                {{item.user.username}}
            </a>
        </p>
        <p class="post-content">
            {{ item.content|truncatechars:100 }}
        </p>

        <div class="post-actions">
            {% if item.user != request.user %}
            <button class="follow-btn {% if item.user.id in following_users %}following{% endif %}"
                data-id="{{item.user.pk}}">
                {% if item.user.id in following_users %}
                フォロー解除
                {% else %}
                フォロー
                {% endif %}
            </button>
            {% endif %}
        </div>


        <a href="#" class="like-btn" data-id="{{item.pk}}">
            <i class="{% if request.user in item.like.all %}fas{% else %}far{% endif %} fa-heart"></i>
        </a>
        <span class="like-count">{{item.like.count}}</span>
        <span class="comments-count">{{item.comments.count}}</span>
    </div>
    {% endfor %}
</div>

{% endblock content %}